#home {
    width: 100vw;
    height: 500px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,250,237,1) 20%, rgba(163,255,245,1) 80%, rgba(56,255,233,1) 100%); 
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    width: 30em;
}