#blog-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#blog-container {
    width: 50vw;
}

.blog-papers {
    margin: 2em;
}