:root {
    --blue: #0f75bc;
}
#home {
    width: 100vw;
    height: 500px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,250,237,1) 20%, rgba(163,255,245,1) 80%, rgba(56,255,233,1) 100%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo {
    width: 25em;
}
#search {
    background-color: transparent;
    border: 2px solid var(--blue);
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 300ms;
    width: 35em;
    margin-top: 1em;
}
#search-input {
    margin-left: 1em;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#search:focus-within {
    background-color: rgba(91, 160, 209, 0.6);
}
#patterns {
    position: absolute;
    bottom: 0;
    width: 100vw;
}