html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 3px;
    background: transparent;
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #0f75bc;
    border-radius: 10px;
}
#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#home-btn {
    margin-right: 1.2em;
}